@import "colors";

.axis path {
	fill:none;
	stroke:grey;
	shape-rendering:crispEdges;
}
rect.bar.nap {
	fill:@nap;
}

rect.bar.core {
	fill: @core;
}

.tick {
	font-family: 'Hind', sans-serif;
	font-size: 12px;
	font-weight: 600;
	fill: @purple;
}

path.domain {
	fill: none;
	stroke: @purple;
	shape-rendering: crispEdges;
}